<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.focuscode">

    <uses-sdk android:minSdkVersion="26" android:targetSdkVersion="34" />

    <queries>
        <!-- Popular apps included for package visibility -->
        <package android:name="com.google.android.youtube" />
        <package android:name="com.instagram.android" />
        <package android:name="com.reddit.frontpage" />
        <package android:name="com.zhiliaoapp.musically" />
        <package android:name="org.telegram.messenger" />
    </queries>

    <application
        android:allowBackup="true"
        android:label="FocusCode"
        android:theme="@style/Theme.Material3.DayNight.NoActionBar">

        <activity android:name="com.focuscode.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.focuscode.service.AppBlockingAccessibilityService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="false">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

    </application>

</manifest>
